/*

.day   { background: #eee; color: black; }
.night { background: #333; color: white; }

@media (prefers-color-scheme: dark) {
  .day.dark-scheme   { background:  #333; color: white; }
  .night.dark-scheme { background: black; color:  #ddd; }
}

@media (prefers-color-scheme: light) {
  .day.light-scheme   { background: white; color:  #555; }
  .night.light-scheme { background:  #eee; color: black; }
}

*/

body {
    margin: 0;
    padding: 0;
    background-image: url("http://www.xstarwake.org/img/wave_background_dark.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-color: #000000;
    font-family: 'Tahoma', sans-serif;
    color: #000080;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    line-height: 50px;
    margin: 0 0 15px 0;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    line-height: 24px;
    margin: 0 0 10px 0;
    text-align: left;
    text-transform: uppercase;
    color: #aa0101;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 14px;
    margin: 0 0 10px 0;
    text-align: left;
    text-transform: uppercase;
    color: #cccccc;
}

.hide { 
    display:none; 
    padding-left: 1px;
}

.show { 
    display:inline-block; 
    padding-left: 1px;
}

.xstarwake-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.xstarwake-chat {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
    display:inline-block; 
}

.xstarwake-button {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
    display:inline-block; 
}

.toxic__salt-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.annaomaly-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.chefduckie-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.dany3lll3-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.deadinthescene-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.demispooks-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.doubleknees-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.fearsumbeard-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

