body {
    margin: 0;
    padding: 0;
    background-image: url("http://www.xstarwake.org/img/Patreon_BG.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-color: #000000;
    font-family: 'Tahoma', sans-serif;
    color: #000080;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    line-height: 50px;
    margin: 0 0 15px 0;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    line-height: 24px;
    margin: 0 0 10px 0;
    text-align: left;
    text-transform: uppercase;
    color: #aa0101;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 14px;
    margin: 0 0 10px 0;
    text-align: left;
    text-transform: uppercase;
    color: #cccccc;
}

.hide { 
    display: none; 
    padding-left: 1px;
}

.show { 
    display: inline-block; 
    padding-left: 1px;
}

.xstarwake-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.toxic__salt-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.annaomaly-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.chefduckie-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.dany3lll3-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.deadinthescene-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.demispooks-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.doubleknees-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.fearsumbeard-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.kelling101-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.lkwilli-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.mariannewray-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.mini_devil69-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.toastythabrave-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.theelphyys-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.dany3lll3-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.sksgodofgames-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.skylarpuppy-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.skaterwax-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.annaomaly-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.demispooks-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.icetigerzone-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.jazzthegaymer-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.jokerknowsbest-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.kiswhale_pwns-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.laxqc-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.luminiousdbd-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.madnessqtv-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.mariannewray-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.partysaurusrex123-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.r3v3rs3r-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.saltyluk-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.sold1er56-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.sonza-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.proto_peach-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}

.xxtowerdogxx-player {
    position: relative;
    padding-bottom: 16.25%; /* 16:9 */
    padding-top: 25px;
}
