/*

.day   { background: #eee; color: black; }
.night { background: #333; color: white; }

@media (prefers-color-scheme: dark) {
  .day.dark-scheme   { background:  #333; color: white; }
  .night.dark-scheme { background: black; color:  #ddd; }
}

@media (prefers-color-scheme: light) {
  .day.light-scheme   { background: white; color:  #555; }
  .night.light-scheme { background:  #eee; color: black; }
}

*/

body.viewer-app {
    margin: 0;
    padding: 0;
    background-color: #778899;
    font-family: 'Tahoma', sans-serif;
    color: #000080;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    line-height: 50px;
    margin: 0 0 15px 0;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    line-height: 24px;
    margin: 0 0 10px 0;
    text-align: left;
    text-transform: uppercase;
    color: #aa0101;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 14px;
    margin: 0 0 10px 0;
    text-align: left;
    text-transform: uppercase;
    color: #cccccc;
}

.hide { 
    display: none; 
}

#twitch {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }

  #twitch object, #twitch iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
  }

  #twitch-embed {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }

  #twitch-embed object, #twitch-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
  }

  #twitch-player {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  
  #twitch-player object, #twitch-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
  }